*{
    margin: 0;
    padding: 0;
}


.linkbody{
    background-color: red;
    height: 100%;
    width: 100%;
    
}
a {
    all:unset;
    color: inherit;
    text-decoration: none; /* no underline */
}
a:hover{
    cursor: pointer;
}
.grid-container{
    
    display: grid;
    background-color: #4d5463;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(160px,auto);   
    
    
}
.grid-container2{
    
    display: grid;
    background-color: #4d5463;
    grid-template-columns: 100%;
    grid-template-rows: 40vh;
    grid-auto-rows: minmax(160px,auto);   
    
    
}


.grid-container>div{
    font-size: 15px;
    /*border: 1px solid white;*/
    font-weight: bolder;
    overflow: hidden;

}

.grid-container2>div{
    font-size: 18px;
    /*border: 1px solid white;*/
    font-weight: bolder;
    overflow: hidden;

}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.contentb{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentc{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentd{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}

.overlay{
    position: absolute;
    overflow: clip;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
}

.overlay:hover{
    background-color: rgba(0,0,0,0);
    
}


.yard{
    position: relative;
    
}

.grid-bottom{
    display: grid;
    padding:10px;
    background-color: #eb3461;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(90px,auto);
    overflow: hidden;
}

.grid-bottom>div{
    font-size: 100px;
    color:#1c1c27;
    display: flex;
    flex-direction: column;
  
}

@media (prefers-reduced-motion: no-preference) {
    .foot{
      animation: icon-jiggle infinite 0.6s ease-in-out;
    }
  }

  @keyframes icon-jiggle {
    from {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    to {
        transform: rotate(3deg);
      }
  }

  
@media (prefers-reduced-motion: no-preference) {
    .contentd{
      animation: magnify infinite 0.6s ease-in-out;
    }
  }

  @keyframes magnify {
    from {
      transform: scale(1.01);
    }
    50% {
      transform: scale(1);
    }
    to {
        transform: scale(1.01);
      }
  }

/*
.back{
    display: grid;
    grid-template: "container";
    place-items: center;
    place-content: center;
    overflow: hidden;
    max-width: 100%;
}

.back>img{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.yard{
    align-self: center;
    min-width: 100%;
    min-height: 10vh;
    background-color: blue;
    background-image:url(./stickers.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.vlog{
    align-self: center;
    min-width: 100%;
    min-height: 10vh;
}
*/
